{% load static %}

<!DOCTYPE html>
    <html lang="pt">
    <head>
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import Bootstrap CSS -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Import JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Import Bootstrap Java Script  -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" defer></script>

        <title>
            {% block title %}
                Ediaristas
            {% endblock %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dar bg-dark md-4">
            <a class="navbar-brand">Ediaristas</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="{% url 'listar_diaristas' %}" class="nav-link">Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>